In [36]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import time
import datetime
from sklearn import preprocessing, cross_validation, svm, metrics
from sklearn.cluster import KMeans

df = pd.read_csv("data/train.csv")
df.head()

             ln       dob gn       fn
0      SMITH JR  01/03/68  F  WILLIAM
1  ROTHMEYER JR  01/03/68  F  WILLIAM
2       ASBY JR  01/03/68  F  WILLIAM
3     SALTER JR  01/03/68  F  WILLIAM
4     SALTER JR  01/03/68  F  WILLIAM

In [37]:
df['fn_len'] = df['fn'].apply(lambda val:len(val))

In [38]:
df.head(50)

               ln       dob gn        fn  fn_len
0        SMITH JR  01/03/68  F   WILLIAM       7
1    ROTHMEYER JR  01/03/68  F   WILLIAM       7
2         ASBY JR  01/03/68  F   WILLIAM       7
3       SALTER JR  01/03/68  F   WILLIAM       7
4       SALTER JR  01/03/68  F   WILLIAM       7
5        BLAND JR  21/02/62  F   WILLIAM       7
6        BLAND JR  21/02/62  F   WILLIAM       7
7        BLAND JR  21/02/62  F   WILLIAM       7
8      SHAFFER JR  21/02/62  F   WILLIAM       7
9      SHAFFER JR  21/02/62  F   WILLIAM       7
10      BLAND III  21/02/62  F   WILLIAM       7
11       BLAND JR  21/02/62  F      BILL       4
12          BLAND  21/02/62  F   WILLIAM       7
13       BLAND JR  21/02/62  F   WILLIAM       7
14       BLAND JR  08/06/54  F   WILLIAM       7
15       BLAND JR  08/06/54  F   WILLIAM       7
16       BLAND JR  25/10/53  F   WILLIAM       7
17       BLAND JR  25/10/53  F   WILLIAM       7
18     SHAFFER JR  25/10/53  F   WILLIAM       7
19      DUNCAN JR  25/10/53  F    THOMAS       6
20     CARLSON JR  25/10/53  F       ROY       3
21     CARLSON JR  25/10/53  F       RON       3
22      DUNCAN JR  25/10/53  F       ROY       3
23     MICHAELSON  25/10/53  M       ROY       3
24  MICHAELSON JR  25/10/53  M       ROY       3
25     MICHAELSON  25/10/53  M       ROY       3
26  MICHAELSON JR  25/10/53  M       ROY       3
27  MICHAELSON JR  01/05/51  M       ROY       3
28  MICHAELSON JR  17/06/48  M       ROY       3
29  MICHAELSON JR  17/06/48  M       ROY       3
30  MICHAELSON JR  09/04/47  M       ROY       3
31  MICHAELSON JR  09/04/47  M    ROBERT       6
32  MICHAELSON JR  09/04/47  M       BOB       3
33    MUSTAPHA JR  11/03/47  M      OWEN       4
34    MUSTAPHA JR  11/03/47  M      OWAN       4
35    HOUGHTON JR  31/01/46  M  LAWRENCE       8
36    HOUGHTON JR  31/01/46  M  LAWRENCE       8
37    HOUGHTON JR  31/01/46  M  LAWRENCE       8
38        LIND JR  31/01/46  M  LAWRENCE       8
39        LIND JR  31/01/46  M  LAWRENCE       8
40        LIND JR  31/01/46  M   KENNETH       7
41        LIND JR  31/01/46  M   KENNETH       7
42        LIND JR  20/01/46  M      JOHN       4
43        CAIN JR  20/01/46  M      JOHN       4
44          CLARK  09/06/45  M      JOHN       4
45          CLARK  09/02/45  M    RONALD       6
46          CLARK  09/02/45  M    DONALD       6
47          CLARK  16/12/44  M      JOHN       4
48       CLARK JR  16/12/44  M      JOHN       4
49       CLARK JR  16/12/44  M      JOHN       4

In [39]:
def encode(inp):
    j = 0
    data = pd.DataFrame()
    data['index']   = inp
    data['label'] = inp
    data['label'][0] = 0
    for i in range(1,len(data)):
        if(data['index'][i] in data['index'][i-1]):
            data['label'][i] = data['label'][i-1]
        else:
            j += 1
            data['label'][i] = j
    return data['label']

In [40]:
df.sort_values(['fn'],ascending=False,inplace=True)
df.reset_index(inplace=True)
df.drop(['index'],1,inplace=True)
df['fn_label'] = encode(df['fn'])
df.head(5)

           ln       dob gn       fn  fn_len fn_label
0    SMITH JR  01/03/68  F  WILLIAM       7        0
1   BLAND III  21/02/62  F  WILLIAM       7        0
2  SHAFFER JR  25/10/53  F  WILLIAM       7        0
3    BLAND JR  25/10/53  F  WILLIAM       7        0
4    BLAND JR  25/10/53  F  WILLIAM       7        0

In [41]:
df.sort_values(['ln'],ascending=False,inplace=True)
df.reset_index(inplace=True)
df.drop(['index'],1,inplace=True)
df['ln_label'] = encode(df['ln'])
df.head(50)

               ln       dob gn        fn  fn_len fn_label ln_label
0        SMITH JR  01/03/68  F   WILLIAM       7        0        0
1        SMITH JR  07/10/37  M    HAROLD       6       13        0
2      SHAFFER JR  25/10/53  F   WILLIAM       7        0        1
3      SHAFFER JR  21/02/62  F   WILLIAM       7        0        1
4      SHAFFER JR  21/02/62  F   WILLIAM       7        0        1
5       SALTER JR  01/03/68  F   WILLIAM       7        0        2
6       SALTER JR  01/03/68  F   WILLIAM       7        0        2
7    ROTHMEYER JR  01/03/68  F   WILLIAM       7        0        3
8     MUSTAPHA JR  07/10/37  M    HAROLD       6       13        4
9     MUSTAPHA JR  11/03/47  M      OWEN       4        5        4
10    MUSTAPHA JR  11/03/47  M      OWAN       4        6        4
11  MICHAELSON JR  09/04/47  M       BOB       3       20        5
12  MICHAELSON JR  25/10/53  M       ROY       3        2        5
13  MICHAELSON JR  16/12/44  M      JOHN       4        9        5
14  MICHAELSON JR  24/06/39  M      JOHN       4        9        5
15  MICHAELSON JR  24/04/40  M      JOHN       4        9        5
16  MICHAELSON JR  24/06/39  M      JOHN       4        9        5
17  MICHAELSON JR  24/06/39  M      JOHN       4        9        5
18  MICHAELSON JR  16/12/44  M      JOHN       4        9        5
19  MICHAELSON JR  16/12/44  M      JOHN       4        9        5
20  MICHAELSON JR  24/06/39  M     JAMES       5       10        5
21  MICHAELSON JR  09/04/47  M    ROBERT       6        4        5
22  MICHAELSON JR  24/04/40  M      JOHN       4        9        5
23  MICHAELSON JR  09/06/39  M      JACK       4       11        5
24  MICHAELSON JR  24/06/39  M     JAMES       5       10        5
25  MICHAELSON JR  25/10/53  M       ROY       3        2        5
26  MICHAELSON JR  24/06/39  M      JACK       4       11        5
27  MICHAELSON JR  01/05/51  M       ROY       3        2        5
28  MICHAELSON JR  17/06/48  M       ROY       3        2        5
29  MICHAELSON JR  07/10/37  M    HAROLD       6       13        5
30  MICHAELSON JR  07/10/37  M    HAROLD       6       13        5
31  MICHAELSON JR  17/06/48  M       ROY       3        2        5
32  MICHAELSON JR  09/04/47  M       ROY       3        2        5
33     MICHAELSON  25/10/53  M       ROY       3        2        5
34     MICHAELSON  25/10/53  M       ROY       3        2        5
35      MELVIN JR  07/10/37  M    HAROLD       6       13        6
36      MELVIN JR  07/10/37  M    HAROLD       6       13        6
37      MELVIN JR  07/10/37  M    HAROLD       6       13        6
38      MELVIN JR  07/10/37  M    HAROLD       6       13        6
39      MELVIN JR  07/10/37  M    HAROLD       6       13        6
40      MELVIN JR  07/10/37  M    HAROLD       6       13        6
41      MELVIN JR  07/10/37  M    HAROLD       6       13        6
42      MELVIN JR  07/10/37  M    HAROLD       6       13        6
43      MELVIN JR  07/10/37  M    HAROLD       6       13        6
44        LIND JR  20/01/46  M      JOHN       4        9        7
45        LIND JR  31/01/46  M   KENNETH       7        8        7
46        LIND JR  31/01/46  M   KENNETH       7        8        7
47        LIND JR  31/01/46  M  LAWRENCE       8        7        7
48        LIND JR  31/01/46  M  LAWRENCE       8        7        7
49      LARSON JR  09/06/39  M    HAROLD       6       13        8

In [42]:
df["val_gn"] = df["gn"].map({"M":0,"F":1})

In [43]:
def DOB_to_unix(str):
    s = str.split('/')
    str = s[0] + '/' + s[1]+ '/19' + s[2]
    
    return int((time.mktime(datetime.datetime.strptime(str, "%d/%m/%Y").timetuple())))

df["val_dob"] = df["dob"].apply(lambda x: DOB_to_unix(x))

In [44]:
df.head()

,ln,dob,gn,fn,fn_len,fn_label,ln_label,val_gn,val_dob
0,SMITH JR,01/03/68,F,WILLIAM,7,0,0,1,-57994200
1,SMITH JR,07/10/37,M,HAROLD,6,13,0,0,-1017293400
2,SHAFFER JR,25/10/53,F,WILLIAM,7,0,1,1,-510816600
3,SHAFFER JR,21/02/62,F,WILLIAM,7,0,1,1,-248074200
4,SHAFFER JR,21/02/62,F,WILLIAM,7,0,1,1,-248074200

In [45]:
train = np.array(df[['fn_label','ln_label','val_gn','val_dob']])
scaler = preprocessing.StandardScaler().fit(train)
train = scaler.transform(train)
train[:50]

array([[-1.3825181 , -1.67527297,  1.7209121 ,  2.39653414],
       [ 0.60161023, -1.67527297, -0.5810872 , -0.82671534],
       [-1.3825181 , -1.50774567,  1.7209121 ,  0.87504891],
       [-1.3825181 , -1.50774567,  1.7209121 ,  1.75786452],
       [-1.3825181 , -1.50774567,  1.7209121 ,  1.75786452],
       [-1.3825181 , -1.34021837,  1.7209121 ,  2.39653414],
       [-1.3825181 , -1.34021837,  1.7209121 ,  2.39653414],
       [-1.3825181 , -1.17269108,  1.7209121 ,  2.39653414],
       [ 0.60161023, -1.00516378, -0.5810872 , -0.82671534],
       [-0.61939182, -1.00516378, -0.5810872 ,  0.17251232],
       [-0.46676656, -1.00516378, -0.5810872 ,  0.17251232],
       [ 1.66998703, -0.83763648, -0.5810872 ,  0.18093115],
       [-1.07726759, -0.83763648, -0.5810872 ,  0.87504891],
       [-0.00889079, -0.83763648, -0.5810872 , -0.06409784],
       [-0.00889079, -0.83763648, -0.5810872 , -0.64527511],
       [-0.00889079, -0.83763648, -0.5810872 , -0.55673227],
       [-0.00889079, -0.83763648, -0.5810872 , -0.64527511],
       [-0.00889079, -0.83763648, -0.5810872 , -0.64527511],
       [-0.00889079, -0.83763648, -0.5810872 , -0.06409784],
       [-0.00889079, -0.83763648, -0.5810872 , -0.06409784],
       [ 0.14373446, -0.83763648, -0.5810872 , -0.64527511],
       [-0.77201707, -0.83763648, -0.5810872 ,  0.18093115],
       [-0.00889079, -0.83763648, -0.5810872 , -0.55673227],
       [ 0.29635972, -0.83763648, -0.5810872 , -0.64962967],
       [ 0.14373446, -0.83763648, -0.5810872 , -0.64527511],
       [-1.07726759, -0.83763648, -0.5810872 ,  0.87504891],
       [ 0.29635972, -0.83763648, -0.5810872 , -0.64527511],
       [-1.07726759, -0.83763648, -0.5810872 ,  0.61145253],
       [-1.07726759, -0.83763648, -0.5810872 ,  0.30721355],
       [ 0.60161023, -0.83763648, -0.5810872 , -0.82671534],
       [ 0.60161023, -0.83763648, -0.5810872 , -0.82671534],
       [-1.07726759, -0.83763648, -0.5810872 ,  0.30721355],
       [-1.07726759, -0.83763648, -0.5810872 ,  0.18093115],
       [-1.07726759, -0.83763648, -0.5810872 ,  0.87504891],
       [-1.07726759, -0.83763648, -0.5810872 ,  0.87504891],
       [ 0.60161023, -0.67010919, -0.5810872 , -0.82671534],
       [ 0.60161023, -0.67010919, -0.5810872 , -0.82671534],
       [ 0.60161023, -0.67010919, -0.5810872 , -0.82671534],
       [ 0.60161023, -0.67010919, -0.5810872 , -0.82671534],
       [ 0.60161023, -0.67010919, -0.5810872 , -0.82671534],
       [ 0.60161023, -0.67010919, -0.5810872 , -0.82671534],
       [ 0.60161023, -0.67010919, -0.5810872 , -0.82671534],
       [ 0.60161023, -0.67010919, -0.5810872 , -0.82671534],
       [ 0.60161023, -0.67010919, -0.5810872 , -0.82671534],
       [-0.00889079, -0.50258189, -0.5810872 ,  0.052036  ],
       [-0.16151605, -0.50258189, -0.5810872 ,  0.05522935],
       [-0.16151605, -0.50258189, -0.5810872 ,  0.05522935],
       [-0.3141413 , -0.50258189, -0.5810872 ,  0.05522935],
       [-0.3141413 , -0.50258189, -0.5810872 ,  0.05522935],
       [ 0.60161023, -0.33505459, -0.5810872 , -0.64962967]])

In [55]:
n_cluster = len(train)
from sklearn.cluster import MiniBatchKMeans,AffinityPropagation
# kmn = KMeans(n_clusters=n_cluster)
kmn = MiniBatchKMeans()
kmn.fit(train)
groups = kmn.predict(train)
print(len(groups))
out = df
print(len(out))
out['type'] = groups
print(len(out['type'].unique()))

103
103
8

In [47]:
out.sort_values(['type'],ascending=False,inplace=True)
# out.drop_duplicates('type',inplace=True)
out.reset_index(inplace=True)
out.drop(['index'],1,inplace=True)
out.head()

,ln,dob,gn,fn,fn_len,fn_label,ln_label,val_gn,val_dob,type
0,MELVIN JR,07/10/37,M,HAROLD,6,13,6,0,-1017293400,55
1,MELVIN JR,07/10/37,M,HAROLD,6,13,6,0,-1017293400,55
2,MELVIN JR,07/10/37,M,HAROLD,6,13,6,0,-1017293400,55
3,MELVIN JR,07/10/37,M,HAROLD,6,13,6,0,-1017293400,55
4,MELVIN JR,07/10/37,M,HAROLD,6,13,6,0,-1017293400,55

In [48]:
out.reset_index(inplace=True)
out.drop(['index'],1,inplace=True)
out.head()
out = df[['ln','dob','gn','fn']]

In [14]:
out.to_csv('type.csv',index=None)